.title-1 {
    color: #D3C0AC;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    font-size: 700%;

}

.button-hilfe1 {
    text-align: center;
}

.button-fertig {

    text-align: right;
}





































